# Archivos de compilación
/target/
*.class

# Archivos de configuración de IDE
*.iml
.idea/
*.ipr
*.iws
.vscode/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Archivos de entorno o credenciales
*.env
.env
application.properties
application.yml
application-dev.yml

# Archivos generados por el sistema
*.swp
*~
